
span.aya {
}

a.word {
    text-decoration: none;
    color: black
}

a.word:hover {
    background: rgba(105, 215, 40, 0.22);
    text-decoration: none;
}

div.page {
    /*text-align: justify;*/ /* can't do it if showing word meanings, and messes up some */
    font-family: 'Traditional Arabic';
    font-size: 2.5em;
    font-weight: normal;
    direction: rtl;
    background-color: rgba(252, 250, 248, 0.64);
}

span.key a.aya_numerals {
    text-decoration: none;
    color: gray;
    font-size: .8em;
}

div.page div.header {
    /*height: 2em;*/
    /*noinspection CssUnknownTarget*/
    background: url('/static/quran/header_contrasted22.svg') no-repeat center center;
    background-size: 100%;
    text-align: center;
    padding: 1em;
    font-size: 0.8em
}

div.bismillah {
    text-align: center;
}

div.page_container {
    width:770px;
}

div.word_wrapper{
    display:inline-block;
    text-align:center;
    margin-left: 10px;
}

div.word_meaning {
    height:20px;
    font-size:medium;
}

/*div.word_meaning:hover{*/
    /*background-color: rgba(158, 244, 224, 0.77);*/
/*}*/

.wire_frame {
    border: 1px solid
}

.outer_frame {
    border:solid 5px #BA5428;
}

.inner_frame {
    border: 10px solid #d8c397;
}

a.blank_link {
    text-decoration: none;
    color:black;
}

p.aya {
    font-family:'Traditional Arabic';
    font-size: 2em
}

p.aya span.key {
    font-size: 0.66em;
}

.highlighted_word {
    background-color: cornsilk;
    color:crimson;
}

div#index {
    margin-left: 50px;
    font-size: 2em;
}

.ltr_safe::after{
    content: '\200E';
    /* &lrm; character */
}
.ltr_safe::before{
    content: '\200E';
    /* &lrm; character */
}

.rtl_safe::after{
    content: '\200F';
    /* &rlm; character */
}
.rtl_safe::before{
    content: '\200F';
    /* &rlm; character */
}

div.page_controls {
    text-align: center;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
