@font-face {
    font-family: KFGQPC_Naskh;
    src: url(/static/quran/fonts/kfc_naskh.otf) format("truetype")
}

@font-face {
    font-family: Me-Quran;
    src: url(/static/quran/fonts/me_quran.ttf) format("truetype")
}

@font-face {
    font-family: Scheherazade;
    src: url(/static/quran/fonts/scheherazade.ttf) format("truetype")
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f2f2f2;

}

div.page_container {
    max-width:980px;
    margin: 10px;
}

div.word_wrapper{
    display:inline-block;
}

div.word {
    margin-left: 20px;
    display:inline-block;
}

a.word {
    text-decoration: none;
    color: black
}

a.word:hover {
    background: rgba(105, 215, 40, 0.22);
    text-decoration: none;
}

div.word_meaning {
    font-size:large;
}

.wire_frame {
    border: 1px solid
}

.outer_frame {
    border:solid 5px #BA5428;
}

.inner_frame {
    border: 10px solid #d8c397;
}

a.blank_link {
    text-decoration: none;
    color:inherit;
}

div.header {
    text-align: center;
    font-size: 1.5em;
}

div.dark-box {
    color: white;
    background: #34495e;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dddddd;
}

div.light-box,
div.grammar-box {
    background: rgba(116, 161, 198, 0.25);
    padding: 10px;
    margin: 10px;
    border: 1px solid #dddddd;
}

div.grammar-box {
    text-align: center;
    font-size:1.5em;
}

div.grammar-box .highlighted_word {
    font-weight: bold;
}

div.dark-box .highlighted_word {
    color: rgb(255, 147, 127);
}

div.dark-box .blank_link:hover {
    color: rgb(255, 147, 127);
    text-decoration: none;
}

div.white-box a.blank_link:hover {
    background: rgba(108, 147, 180, 0.52);
}


div.white-box {
    background: white;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dddddd;
}

p.aya, div.page {
    font-family: Scheherazade;
}

p.aya {
    font-size: 2.5em
}

p.aya span.key {
    padding: 3px;
    font-size: .6em;
    border: 1px silver;
    background: rgba(116, 161, 198, 0.25);

}

.highlighted_word,
div.light-box .highlighted_word {
    color:crimson;
}

div#index {
    margin-left: 50px;
    font-size: 2em;
}

span.aya {
}

div.page {
    /*text-align: justify;*/ /* can't do it if showing word meanings, and messes up some */
    font-size: 3em;
    font-weight: normal;
    direction: rtl;
    background-color: rgba(245, 243, 241, 0.64);
}

.aya_numerals {
    text-decoration: none;
    color: gray !important;
    font-size: .8em;
}

div.page div.sura-header {
    /*height: 2em;*/
    /*noinspection CssUnknownTarget*/
    background: url('/static/quran/header_contrasted22.svg') no-repeat center center;
    background-size: 100%;
    text-align: center;
    padding: 1em;
    font-size: 1em;

}

div.bismillah {
    text-align: center;
    margin: 0.10em;
}

.ltr_safe::after{
    content: '\200E';
    /* &lrm; character */
}
.ltr_safe::before{
    content: '\200E';
    /* &lrm; character */
}

.rtl_safe::after{
    content: '\200F';
    /* &rlm; character */
}
.rtl_safe::before{
    content: '\200F';
    /* &rlm; character */
}

div.page_controls {
    text-align: center;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

