<script>
    $(document).ready(function(){ // needs to be called after aya_script_links

        var ayas = $("{{highlight_select}}")
        ayas.toArray().forEach(function (aya) {
            var html = aya.innerHTML
            var highlight_text = "{{highlight_text}}"

            if (highlight_text.length) {
                var highlight_text_re = new RegExp(highlight_text, 'g')
                html = html.replace(highlight_text_re, '<span class="highlighted_word">' + highlight_text + '</span>')
                aya.innerHTML = html
            }
        })

    })
</script>