
{% url 'quran_index' as base_url %}

<script>
    ayas = $('span.aya')
    ayas.toArray().forEach(function (aya) {

        sura_number = aya.attributes['data-sura'].value
        aya_number = aya.attributes['data-aya'].value
        old_html = aya.innerHTML
        new_html = ''
        words = old_html.trim().split(' ')

//        console.log(words)
        words.forEach(function (word, index) {
                new_html += '<a href="{{base_url}}' + sura_number + '/' + aya_number + '/' + (index+1) + '/" style="text-decoration:none; color:black" target="_blank">' + word + '</a> '
        })

        aya.innerHTML  = new_html
    })
</script>
