<div>
    {% if show_bismillah and aya.bismillah %}
    <hr>
    <p align="center">
    {{ aya.bismillah }}
    </p>
    {% endif %}

    <li>
        <p class="aya">
            <span class="key"> <a href="{{aya.get_absolute_url}}" class="blank_link">{{aya.key}} </a></span>
            <span class="aya" id="{{aya.aya_id}}" data-aya="{{aya.number}}" data-sura="{{aya.sura.number}}"> {{aya.text}} </span>
        </p>
        <p class="translation">
            {{ aya.translations.all.0.text }}
        </p>
        {{aya.word_meanings_json|safe}}
    </li>
</div>