<div class="white-box">
    {% if show_bismillah and aya.bismillah %}
    <hr>
    <p align="center">
    {{ aya.bismillah }}
    </p>
    {% endif %}

    <div class="aya-p-inner">
        <p class="aya">
            <span class="key" style="vertical-align: text-top">
                <a href="{{aya.get_absolute_url}}" class="blank_link">
                {{aya.key}}
                </a>
            </span>

            <bdo dir="rtl">
                <span class="aya" id="{{aya.aya_id}}" data-sura="{{aya.sura.number}}" data-aya="{{aya.number}}">
                    {{aya.text}}
                </span>
            </bdo>

        </p>
        <p class="translation">
            {{ aya.translations.all.0.text }}
        </p>
        {{aya.word_meanings_json|safe}}
    </div>
</div>