{% extends 'quran/base.html' %}
{% block body %}

Lemma: {{ lemma.text }}

{% if lemma.root %}
Root:
<a href="{{ lemma.root.get_absolute_url }}">{{ lemma.root.utext }}</a>
{% endif %}

<hr>
<ul>
    {% for word in words %}
    <li>
        <a href="{{ word.get_absolute_url }}" style="text-decoration: none">
            {{ word.text }}
        </a>
            {% include "quran/aya_template.html" with aya=word.aya %}
            {% include "quran/aya_script_highlight.html" with highlight_text=word.utext highlight_select="#id"|add:word.aya.aya_id %}

    </li>
    {% endfor %}
</ul>

    {% include "quran/aya_script_links.html" %}

{% endblock %}
