{% extends 'quran/base.html' %}
{% block body %}

<div class="dark-box header">
    Lemma: <span class="highlighted_word">{{ lemma.text }}</span>

    {% if lemma.root %}
    | Root:
    <a href="{{ lemma.root.get_absolute_url }}" target="_blank" class="blank_link">{{ lemma.root.utext }}</a>
    {% endif %}
</div>

{% for word in words %}
{% include "quran/aya_p.html" with aya=word.aya %}
<script>words_to_highlight_in_aya['{{word.aya.aya_id}}'] = ["{{word.utext}}"]</script>
{% endfor %}

{% include "quran/page_script.html" %}

{% endblock %}
