<ul>
    {% for aya,translation in ayas %}
    <li>
        <p class="aya" data-sura="{{ sura.number }}" data-aya="{{ aya.number }}">
            {{aya.key}} {{ aya.text }}</p>
        <p class="translation">{{ translation.text }}</p>
    </li>
    {% endfor %}
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script>
    ayas = $('p.aya')
    ayas.toArray().forEach(function (aya) {

        sura_number = aya.attributes['data-sura'].value
        aya_number = aya.attributes['data-aya'].value
        old_html = aya.innerHTML
        new_html = ''
        words = old_html.split(' ')
        key = words[0]
        words = words.slice(1)

        console.log(words)
        words.forEach(function (word, index) {
            if (index > 11)
                new_html += '<a href="' + aya_number + '/' + (index-11) + '/" style="text-decoration:none; color:black" target="_blank">' + word + '</a> '
            else if (index == 11)
                new_html += word + ' '
        })
        aya.innerHTML  = new_html
    })
</script>