{% extends 'quran/base.html' %}
{% block body %}

Word: <span class="highlighted_word">{{word.utext}}</span>

{% if word.lemma %}
| Lemma:
<a href="{{ word.lemma.get_absolute_url }}" class="blank_link" target="_blank">
    {{ word.lemma.utext }}
</a>
{% endif %}

{% if word.lemma.root %}
| Root:
<a href="{{ word.lemma.root.get_absolute_url }}" class="blank_link" target="_blank">
    {{ word.lemma.root.utext }}
</a>
{% endif %}

{% for segment in word.segments.all %}
<hr>
{{segment.utext}}

{% if segment.pos %} | {{segment.pos}} {% endif %}
{% if segment.mood %} | MOOD: {{segment.mood}} {% endif %}
{% if segment.case %} | CASE: {{segment.case}} {% endif %}
{% if segment.form %} | FORM: {{segment.form}} {% endif %}
{% if segment.gender %} | GENDER: {{segment.gender}} {% endif %}
{% if segment.definite %} | DEFINITE: {{segment.definite}} {% endif %}
{% if segment.tense %} | TENSE: {{segment.tense}} {% endif %}
{% if segment.participle %} | PARTICIPLE: {{segment.participle}} {% endif %}
{% if segment.special %} | SP: {{segment.special}} {% endif %}
{% if segment.other %} | OTHER: {{segment.other}} {% endif %}

{% endfor %}

<hr>

{% include "quran/aya_p.html" with aya=aya %}

<hr>
{% if ayas.count > 1 %}
Word {{word.utext}} in other verses:
{% else %}
No other verses with word {{word.utext}}
{% endif %}

{% for ay in ayas %}
{% if ay.key != aya.key %}
    {% include "quran/aya_p.html" with aya=ay %}
{% endif %}
{% endfor %}

{% include "quran/aya_script_highlight.html" with highlight_text=word.utext highlight_select='span.aya' %}
{% include "quran/aya_script_links.html" %}

{% endblock %}